<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="ClientThreads" value="1" />
    <add key="SendDelayMs" value="5000" />
    <add key="SessionApi" value="http://51.116.108.110:8080/api/v1/{0}" />
    <add key="HeavyCalcApi" value="http://51.116.108.110:8080/api/v1/heavycalc/{0}" />
  </appSettings>
</configuration>