<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="StorageAccountName" value="globus000samplebatch" />
    <add key="StorageAccountKey" value="DcByuneYIlHJo4auLRFD38aWwcsW6fljsxkezPb6B516viBqQqOwlQFvSArWQ6jwIB6LRmyyM8zjCP0tHHTmvQ==" />
    <add key="ContainerInput" value="sample-batch-input" />
    <add key="MessageQueue" value="sample-batch-queue" />
    <add key="QueueGetMessageRetry" value="1000" />
    <add key="QueueGetMessageRetryWaitSec" value="5" />
    <add key="MessageBus" value="Azure" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
