<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="BatchAccountName" value="globus000samplebatch" />
    <add key="BatchAccountURL" value="https://globus000samplebatch.germanywestcentral.batch.azure.com" />
    <add key="BatchAccountKey" value="0IEVbfaI7EQLWTv+o4e4PCrmmevUaa2isMUeZXjSX7V22DrOKSryg+VPDvy+fE2GntjJbtzRmfdU25QtezZ46Q==" />
    <add key="StorageAccountName" value="globus000batchstorage" />
    <add key="StorageAccountKey" value="Xx/UAGtKJCxFdKYTMnBvpoZI8FZXbgWsPwqXuuSu1jmvZXp/ZnsDXYg8PeP6OTneEplolo1Q8Uz6NlqHqpoTIQ==" />
    <add key="ContainerInput" value="sample-batch-input" />
    <add key="InputDataFiles" value="samplebatchdata000.txt;samplebatchdata.001;samplebatchdata002.txt;samplebatchdata.003;samplebatchdata004.txt;samplebatchdata.005;" />
    <add key="PoolId" value="SampleBatchPool" />
  </appSettings>
</configuration>